<div class="campaign-pages login">
    <div class="container">
        <header class="margin-bottom-20 margin-top-20">
            <div class="columns is-mobile">
                <div class="column">
                    <a href="http://www.metlife.com" target="_blank" class="logo"><img src="images/metlife-logo.png" alt="Metlife Logo"></a>
                </div>
            </div>
        </header>
        <div class="columns is-gapless">
            <div class="column is-4">
                <form data-forms="floating-label" class="ml-form">
                    <div class="contact-form">
                        <div class="contact-form-quotes">
                            <div class="contact-form-quotes-callout"><strong>Login</strong></div>
                        </div>
                        <div class="contact-form-body">
                            <form data-forms="floating-label" class="ml-form" method="post">
                                <fieldset class="ml-form-field column">
                                    <label>
										<input type="text" ng-model="userName" ng-class="{ 'empty-input': userName==='' }">
										<span>User Name</span>
									</label>
                                </fieldset>
                                <fieldset class="ml-form-field column">
                                    <label>
										<input type="password" ng-model="password" ng-class="{ 'empty-input': password==='' }">
										<span>Password</span>
									</label>
                                </fieldset>
                                <p><a href="">Forgot user name or Passsword?</a></p>

                                <div class="align-center">
                                    <button class="ml-button-primary" ng-click="logInUser($event)">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <footer>
            <div class="colorbar columns">
                <div class="metlife-blue column is-8 column"></div>
                <div class="metlife-dark-blue is-3 column"></div>
                <div class="metlife-green is-1 column"></div>
            </div>
            <div class="footer-legal">
                <img src="images/metlife-footerlogo.png" class="footerlogo">
                <p>*MetLife does not provide tax or legal advice.<br /> Please consult your tax advisor or attorney for such guidance.</p>
                <p>Any discussion of taxes is for general informational purposes only, does not purport to be<br /> complete or cover every situation, and should not be construed as legal, tax or accounting advice.</p>
                <p>Clients should confer with their qualified legal, tax and accounting advisors as appropriate.</p>
                <div class="footerlinks">
                    <a href="">Metlife</a>
                    <a href="">Privacy</a>
                    <a href="">Legal Notices</a>
                    <a href="">Email Opt Out</a> </div>
                <p>&copy; 2015 Metropolitan Life Insurance Company, New York, NY. All Rights Reserved. Each page has an unique legal #</p>
            </div>
        </footer>
    </div>
</div>
