<footer class="main-footer">
    <div class="colorbar columns">
        <div class="metlife-blue column is-8 column"></div>
        <div class="metlife-dark-blue is-3 column"></div>
        <div class="metlife-green is-1 column"></div>
    </div>
    <div class="footerContainer">
    <img src="images/metlife-footerlogo.png" class="footerlogo">
    <div class="footerText">
      <div class="footerLinks">
        <a href="#">Privacy Policy</a>
        <a href="#">Legal Notices</a>
        <a href="#">Feedback</a>
      </div>
      <div class="footerCopyright" tabindex="0">
        <p>©&nbsp;2018 Metropolitan Life Insurance Company, New York, NY 10166 - All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
